# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
.venv/
venv/
ENV/

# PyInstaller
build/
dist/
*.spec

# IDE
.idea/
*.iml
.vscode/

# OS
Thumbs.db
.DS_Store

# Project specific
app_icon.ico
msedgedriver.exe
